# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.java]
max_line_length = 100

[*.kt]
max_line_length = 120

end_of_line = lf
charset = utf-8
